.main-app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    row-gap: .5rem;
    height: 100vh;
    widows: 100vw;
}
.main-app .removeScroll {
    overflow: hidden;
}

.form1 {
    display: block;
    width: 500px;
    height: 300px;
}

.main-app section {
    display: flex;
    flex-flow: column;
    row-gap: .5rem;
}
