    <main class="main-app" ngClass="{ removeScroll: isLoadingSpinner }">
    <section class="mat-typography">
        <h1 class="mat-display-1">Example with tabs</h1>
        <form-container class="form1" [formInputConfig]="formInputConfig1" (formGroupOutput)="onFormGroupOutput1($event)">
        </form-container>
        <button mat-raised-button color="primary" [disabled]="!!formGroup1 && formGroup1.invalid" (click)="submitForm1()">Submit</button>

    </section>
    <section class="mat-typography">
        <h1 class="mat-display-1">Example without tabs</h1>

        <form-container class="form1" [formInputConfig]="formInputConfig2" (formGroupOutput)="onFormGroupOutput2($event)">
        </form-container>
        <button mat-raised-button color="primary" [disabled]="!!formGroup2 && formGroup2.invalid">Submit</button>
    </section>
</main>
<main-spinner *ngIf="isLoadingSpinner"></main-spinner>
<lib-toastify-toast-container></lib-toastify-toast-container>

